
    <!-- =========================
     SECTION: SERVICES
    ============================== -->
    <section class="services grey-bg" id="section1">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header" style="margin-top:80px;">

                <div class="small-text-medium uppercase colored-text">
                    SERVICES
                </div>
                <h2 class="dark-text">Email Deliverability</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                  No more emails stuck in spam, or sentenced to the Promotional or Social tabs
                </div>
            </div>

            <div class="row">

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-check-alt2"></span>
                        </div>
                        <h3 class="colored-text">Deliverability Problems?</h3>
                        <p>
                        Domain reputation is critical due to recent ISP and inbox service implementation of DMARK policies
                        </p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-lock-alt"></span>
                        </div>
                        <h3 class="colored-text">No More Emails in Spam</h3>
                        <p>
                          DNSrep will fix your domain reputation and ensure no more of your legitimate emails end up in the spam folder
                        </p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-star-alt"></span>
                        </div>
                        <h3 class="colored-text">Domain Reputation</h3>
                        <p>
                          Using our proprietary software, you can fix your domain and IP reputation to combat bad domain reputations
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <% if nil %>
    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief grey-bg text-left" id="section3">
        <div class="container">
            <div class="row">

                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <img src="assets/imac-ipad.png" alt="">
                    </div>
                </div>

                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        LOREMIPSUM
                    </div>
                    <h2 class="text-left dark-text"><strong>Beautiful</strong> Accordion</h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Lorem lean startup ipsum product market fit customer development.
                    </p>

                    <!-- FEATUR ACCORDION WITH ICON -->
                    <div class="panel-group" id="accordion">

                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">

                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						<span class="icon-container color-bg"><span class="icon-map-alt white-text"></span></span><span class="title-text">Responsive Design</span>
						</a>
						</h4>
                            </div>

                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.
                                </div>
                            </div>
                        </div>

                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">

                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<span class="icon-container color-bg"><span class="icon-compass-alt white-text"></span></span><span class="title-text">Fast Customer Support</span>
						</a>
						</h4>
                            </div>

                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.
                                </div>
                            </div>
                        </div>

                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">

                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<span class="icon-container color-bg"><span class="icon-lightbulb-alt white-text"></span></span><span class="title-text">Creative Concept</span>
						</a>
						</h4>
                            </div>

                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- =========================
     SECTION: SOME STATS   
    ============================== -->
    <section class="stats" id="section4" data-stellar-background-ratio="0.5">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row no-gutters">

                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-basic-elaboration-calendar-check"></span>
                        </div>
                        <h4 class="white-text">780+</h4>
                        <p class="uppercase transparent-text small-text">
                            Successfull campaigns
                        </p>
                    </div>

                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-basic-message-multiple"></span>
                        </div>
                        <h4 class="white-text">1250+</h4>
                        <p class="uppercase transparent-text small-text">
                            Social interaction
                        </p>
                    </div>

                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-ecommerce-graph-increase"></span>
                        </div>
                        <h4 class="white-text">235%</h4>
                        <p class="uppercase transparent-text small-text">
                            Yearly Sales Growth
                        </p>
                    </div>
                </div>

                <!-- CALL TO ACTION -->
                <div class="stats-footer">
                    <div class="long-transparent-line">
                    </div>
                    <p class="white-text">
                        We are ready to help you - <a href="#section11" class="strong inpage-scroll">Get Started Now »</a>
                    </p>
                </div>

            </div>
        </div>
    </section>

    <!-- =========================
     SECTION: BENEFITS   
    ============================== -->
    <section class="unique-features white-bg" id="section5">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    FEATURES
                </div>
                <h2 class="dark-text"><strong>Useful</strong> Benifits</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Cloud computing subscription model out of the box proactive solution.
                </div>
            </div>

            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-laptop colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Reliable Company</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-map-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Responsive Design</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-cloud-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Cloud Platform</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- IPAD IMAGE -->
                <div class="col-md-4">
                    <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                        <img src="assets/ipad-air.png" alt="">
                    </div>
                </div>

                <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-gift-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Bootstrap 3.3.1</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">400+ Icons Font</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-chat-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Top Support</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- =========================
     SECTION: PRICING   
    ============================== -->
    <section class="pricing grey-bg" id="section6">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Pricing
                </div>
                <h2 class="dark-text"><strong>Affordable</strong> Packages</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Cloud computing subscription model out of the box proactive solution.
                </div>
            </div>

            <!-- PRICING TABLE -->
            <div class="row pricing-table">

                <!-- SINGLE PACKAGE -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="single-pricing border-bottom-hover">

                        <div class="package-title">
                            <h3 class="colored-text">Basic Plan</h3>
                            <div class="colored-line">
                            </div>
                        </div>

                        <h2 class="price"><span class="superscript">$</span>150<span class="month small-text">Per Month</span></h2>

                        <ul class="package-list">
                            <li><span class="dark-text strong">50GB</span>File Storage</li>
                            <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                            <li><span class="dark-text strong">5</span>User Access</li>
                            <li><span class="dark-text strong">30</span>Projects Per Month</li>
                            <li><span class="dark-text strong">24/7</span>Customer Service</li>
                        </ul>

                        <div class="button">
                            <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            Get Early Access Now
                        </div>

                    </div>
                </div>

                <!-- SINGLE PACKAGE -->
                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1.5s">
                    <div class="single-pricing border-bottom-hover">

                        <div class="package-title color-bg">
                            <h3 class="white-text">Standard Plan</h3>
                        </div>

                        <h2 class="price"><span class="superscript">$</span>199<span class="month small-text">Per Month</span></h2>

                        <ul class="package-list">
                            <li><span class="colored-text strong">150GB</span>File Storage</li>
                            <li><span class="colored-text strong">Secure</span>Online Transfer</li>
                            <li><span class="colored-text strong">20</span>User Access</li>
                            <li><span class="colored-text strong">65</span>Projects Per Month</li>
                            <li><span class="colored-text strong">24/7</span>Customer Service</li>
                        </ul>

                        <div class="button">
                            <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            <span class="colored-text">40%</span> Discount on first year
                        </div>

                    </div>
                </div>

                <!-- SINGLE PACKAGE -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="single-pricing border-bottom-hover">

                        <div class="package-title">
                            <h3 class="colored-text">Medium Plan</h3>
                            <div class="colored-line">
                            </div>
                        </div>
                        <h2 class="price"><span class="superscript">$</span>175<span class="month small-text">Per Month</span></h2>

                        <ul class="package-list">
                            <li><span class="dark-text strong">80GB</span>File Storage</li>
                            <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                            <li><span class="dark-text strong">10</span>User Access</li>
                            <li><span class="dark-text strong">45</span>Projects Per Month</li>
                            <li><span class="dark-text strong">24/7</span>Customer Service</li>
                        </ul>

                        <div class="button">
                            <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            30 Days free Trial
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

  <% end %>
    <!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    <section class="call-to-action" id="section11" data-stellar-background-ratio="0.1">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2">

                        <div class="uppercase colored-text strong">
                            30 Days free trial
                        </div>

                        <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">Get Early Access Now!</h2>

                        <div class="horizontal-subscribe-form">
                            <%= form_for @user, html: {class: 'form-inline mailchimp'} do |f| %>
                              <%= f.text_field :email, id: 'cf-email', class: 'form-control input-box', placeholder: 'Enter your Email', type: 'email', required: 'true' %>
                              <button type="submit" class="btn btn-primary standard-button">Get Early Access</button>
                            <% end %>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- REGISTRATION FORM FOR POPUP BOX -->
    <div class="modal fade bs-example-modal-sm" id="stamp-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="vertical-registration-form">
                    <h4 class="dark-text form-heading">Get 1 Month FREE Trial Now</h4>
                    <form class="registration-form" id="contact-form">
                        <input type="text" id="cf-name" name="name" class="form-control input-box" placeholder="Name">
                        <input type="email" id="cf-email" name="email" class="form-control input-box" placeholder="Email">
                        <input type="text" id="cf-subject" name="subject" class="form-control input-box" placeholder="Subject">
                        <textarea name="message" id="cf-message" class="form-control textarea-box" rows="4" placeholder="Message"></textarea>
                        <button class="btn btn-primary standard-button">Get Started</button>
                    </form>
                    <p class="email-success dark-text">
                        <span class="icon-check-alt2 colored-text"></span>Email sent seuccessfully
                    </p>
                    <p class="email-error dark-text">
                        <span class="icon-close-alt2"></span>Error! Please check all fields filled correctly
                    </p>
                    <!-- MAILCHIMP ALERTS 
			        <p class="mailchimp-success dark-text"><span class="icon-check-alt2 colored-text"></span>We sent the confirmation to your email</p>
			        <p class="mailchimp-error dark-text"><span class="icon-close-alt2"></span>Error! Please check all fields filled correctly</p>
			        -->
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer grey-bg">
        ©2015 DNSrep. All Rights Reserved

    </footer>
