
    <!-- =========================
     SECTION: SERVICES
    ============================== -->
    <section class="services grey-bg" id="section1">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header" style="margin-top:80px;">

                <div class="small-text-medium uppercase colored-text">
                    Clean
                </div>
                <h2 class="dark-text">Get the Help You Need</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                  Clean's online program helps you get control of your drinking with our private, coach-supported program. 
                </div>
            </div>

            <div class="row">

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-check-alt2"></span>
                        </div>
                        <h3 class="colored-text">Treatment that Fits into Your Routine</h3>
                        <p>
                        It can be a struggle to make time for treatment. With Clean, our app and supportive community are there for you when you need us. Think of us like a sponsor in your pocket.
                        </p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-lock-alt"></span>
                        </div>
                        <h3 class="colored-text">Complete Privacy</h3>
                        <p>
                          Want to feel better but don't want to go to meetings? That's ok: with our app, everything you do is completely private.
                        </p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-star-alt"></span>
                        </div>
                        <h3 class="colored-text">A Supportive Community</h3>
                        <p>
                          Join our community of people just like you. Get support when you need it, and help others who struggle with alcohol abuse and addiction.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief grey-bg text-left" id="section3">
        <div class="container">
            <div class="row">

                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <img src="assets/imac-ipad.png" alt="">
                    </div>
                </div>

                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        Clean
                    </div>
                    <h2 class="text-left dark-text"><strong>Outpatient</strong> Therapy</h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Outpatient therapy and counseling, from the privacy of your home.
                    </p>

                    <!-- FEATUR ACCORDION WITH ICON -->
                    <div class="panel-group" id="accordion">

                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">

                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						<span class="icon-container color-bg"><span class="icon-map-alt white-text"></span></span><span class="title-text">Responsive Design</span>
						</a>
						</h4>
                            </div>

                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.
                                </div>
                            </div>
                        </div>

                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">

                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<span class="icon-container color-bg"><span class="icon-compass-alt white-text"></span></span><span class="title-text">Fast Customer Support</span>
						</a>
						</h4>
                            </div>

                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.
                                </div>
                            </div>
                        </div>

                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">

                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<span class="icon-container color-bg"><span class="icon-lightbulb-alt white-text"></span></span><span class="title-text">Creative Concept</span>
						</a>
						</h4>
                            </div>

                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- =========================
     SECTION: SOME STATS   
    ============================== -->
    <section class="stats" id="section4" data-stellar-background-ratio="0.5">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row no-gutters">

                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-basic-elaboration-calendar-check"></span>
                        </div>
                        <h4 class="white-text">24/7</h4>
                        <p class="uppercase transparent-text small-text">
                            Clean is there when you need it
                        </p>
                    </div>

                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-basic-message-multiple"></span>
                        </div>
                        <h4 class="white-text">1000+</h4>
                        <p class="uppercase transparent-text small-text">
                            Other members who want to support you
                        </p>
                    </div>

                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-ecommerce-graph-increase"></span>
                        </div>
                        <h4 class="white-text">50%</h4>
                        <p class="uppercase transparent-text small-text">
                            Number of people reporting that Clean helped them control their drinking
                        </p>
                    </div>
                </div>

                <!-- CALL TO ACTION -->
                <div class="stats-footer">
                    <div class="long-transparent-line">
                    </div>
                    <p class="white-text">
                        We are ready to help you control your drinking- <a href="#section11" class="strong inpage-scroll">Get Started Now »</a>
                    </p>
                </div>

            </div>
        </div>
    </section>

    <!-- =========================
     SECTION: BENEFITS   
    ============================== -->
    <section class="unique-features white-bg" id="section5">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    FEATURES
                </div>
                <h2 class="dark-text"><strong>Why</strong> Clean?</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Why is Clean better than traditional outpatient rehab?
                </div>
            </div>

            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-laptop colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">There When You Need Us</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                With Clean, our app and support group are there when you need us, 24/7. 
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-map-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">No More Meetings</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                No more sitting through AA meetings. Instead, engage with a community of individuals who want to help you. 
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-cloud-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Licensed Therapists</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Receive counseling and assistance from licensed therapists, all online. 
                            </p>
                        </div>
                    </div>
                </div>

                <!-- IPAD IMAGE -->
                <div class="col-md-4">
                    <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                        <img src="assets/ipad-air.png" alt="">
                    </div>
                </div>

                <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-gift-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Track Your Recovery</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Track how well you're improving, and see when (and where) you're tempted to drink heavily.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Outpatient-quality Care</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Our program is as effective as outpatient rehab, yet far cheaper and more convenient. 
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-chat-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">24/7 Support</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Get support from our community when you need it. All day, every day. 
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
<~--
    <!-- =========================
     SECTION: PRICING   
    ============================== 
    <section class="pricing grey-bg" id="section6">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Sign Up
                </div>
                <h2 class="dark-text"><strong>Affordable</strong> Packages</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Cloud computing subscription model out of the box proactive solution.
                </div>
            </div>

            <!-- PRICING TABLE -->
            <div class="row pricing-table">

                <!-- SINGLE PACKAGE -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="single-pricing border-bottom-hover">

                        <div class="package-title">
                            <h3 class="colored-text">Basic Plan</h3>
                            <div class="colored-line">
                            </div>
                        </div>

                        <h2 class="price"><span class="superscript">$</span>150<span class="month small-text">Per Month</span></h2>

                        <ul class="package-list">
                            <li><span class="dark-text strong">50GB</span>File Storage</li>
                            <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                            <li><span class="dark-text strong">5</span>User Access</li>
                            <li><span class="dark-text strong">30</span>Projects Per Month</li>
                            <li><span class="dark-text strong">24/7</span>Customer Service</li>
                        </ul>

                        <div class="button">
                            <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            Get Early Access Now
                        </div>

                    </div>
                </div>

                <!-- SINGLE PACKAGE -->
                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1.5s">
                    <div class="single-pricing border-bottom-hover">

                        <div class="package-title color-bg">
                            <h3 class="white-text">Standard Plan</h3>
                        </div>

                        <h2 class="price"><span class="superscript">$</span>199<span class="month small-text">Per Month</span></h2>

                        <ul class="package-list">
                            <li><span class="colored-text strong">150GB</span>File Storage</li>
                            <li><span class="colored-text strong">Secure</span>Online Transfer</li>
                            <li><span class="colored-text strong">20</span>User Access</li>
                            <li><span class="colored-text strong">65</span>Projects Per Month</li>
                            <li><span class="colored-text strong">24/7</span>Customer Service</li>
                        </ul>

                        <div class="button">
                            <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            <span class="colored-text">40%</span> Discount on first year
                        </div>

                    </div>
                </div>

                <!-- SINGLE PACKAGE -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="single-pricing border-bottom-hover">

                        <div class="package-title">
                            <h3 class="colored-text">Medium Plan</h3>
                            <div class="colored-line">
                            </div>
                        </div>
                        <h2 class="price"><span class="superscript">$</span>175<span class="month small-text">Per Month</span></h2>

                        <ul class="package-list">
                            <li><span class="dark-text strong">80GB</span>File Storage</li>
                            <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                            <li><span class="dark-text strong">10</span>User Access</li>
                            <li><span class="dark-text strong">45</span>Projects Per Month</li>
                            <li><span class="dark-text strong">24/7</span>Customer Service</li>
                        </ul>

                        <div class="button">
                            <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            30 Days free Trial
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
--~>
    <!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    <section class="call-to-action" id="section11" data-stellar-background-ratio="0.1">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2">

                        <div class="uppercase colored-text strong">
                            Get Started, Free
                        </div>

                        <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">Sign Up and Get Control of Your Drinking</h2>

                        <div class="horizontal-subscribe-form">
                            <%= form_for @user, html: {class: 'form-inline mailchimp'} do |f| %>
                              <%= f.text_field :email, class: 'form-control input-box', placeholder: 'Enter your Email', type: 'email', required: 'true' %>
                              <button type="submit" class="btn btn-primary standard-button">Get Early Access</button>
                            <% end %>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="footer grey-bg">
        ©2015 Clean. All Rights Reserved

    </footer>
