    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" data-stellar-background-ratio="0.5" id="home">

        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer" style="padding-bottom:125px;">

            <!-- STICKY NAVIGATION -->
            <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
                <div class="container">
                    <div class="navbar-header">

                        <!-- LOGO ON STICKY NAV BAR -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-grid-2x2"></span>
                        </button>

                        <!-- LOGO -->
                        <a class="navbar-brand" href="#">
                          <span class="logo">Clean</span>
                        </a>

                    </div>

                    <!-- TOP BAR -->
                    <div class="navbar-collapse collapse" id="stamp-navigation">

                        <!-- NAVIGATION LINK -->
                        <ul class="nav navbar-nav navbar-left main-navigation small-text">
                        </ul>

                        <!-- LOGIN REGISTER -->
                        <ul class="nav navbar-nav navbar-right login-register small-text">
                            <li class="register-button js-register inpage-scroll"><a href="#section11" class="navbar-register-button">Get Early Access</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /END CONTAINER -->
            </div>
            <!-- /END STICKY NAVIGATION -->

            <!-- CONTAINER -->
            <div class="container">

                <!-- ONLY LOGO ON HEADER -->
                <div class="only-logo">
                    <div class="navbar">
                        <div class="navbar-header">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                      <%# Rails flash messages styled for Bootstrap 3.0 %>
                      <% flash.each do |name, msg| %>
                        <% if msg.is_a?(String) %>
                          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <%= content_tag :div, msg, :id => "flash_#{name}" %>
                          </div>
                        <% end %>
                      <% end %>

                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">

                            <!-- WELCOM MESSAGE -->
                            <h1 class="intro white-text">Feel Better. Get Clean.</h1>
                            <h5 class="white-text">Get Control of Your Drinking, Judgment-Free</h5>

                            <!-- MAILCHIMP SUBSCRIBE FORM -->
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="horizontal-subscribe-form">

                                      <%= form_for @user, html: {class: 'form-inline mailchimp'} do |f| %>
                                        <%= f.text_field :email, id: 'cf-email', class: 'form-control input-box', placeholder: 'Enter your Email', type: 'email', required: 'true' %>
                                        <button type="submit" class="btn btn-primary standard-button">Get Early Access</button>
                                      <% end %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
