<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
   <div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>
    <%= render 'layouts/header' %>
    <%= yield %>

    <script src="assets/jquery.min.js"></script>
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
    <script src="assets/smoothscroll.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.nav.js"></script>
    <script src="assets/wow.min.js"></script>
    <script src="assets/nivo-lightbox.min.js"></script>
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/jquery.stellar.min.js"></script>
    <script src="assets/jquery.ajaxchimp.min.js"></script>
    <script src="assets/validate.js"></script>

    <!-- GOGLE MAP -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- CUSTOM JS  -->
    <script src="assets/custom.js"></script>
  </body>
</html>

